<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users list</title>
</head>
<body>
<script>
    function question() {
        confirm("Delete user?") ? 0 : location.href = "redirect://localhost:8080/manager/users";
    }
</script>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div th:if="${!users.isEmpty()}">
    <table border="1" align="center">
        <tr>
            <td>Link</td>
            <td>Delete</td>
            <td>Update</td>
        </tr>
        <tr th:each="user : ${users}" th:if="${#authentication.principal.username != user.username}">
            <td><a th:href="@{/profile/{username}(username = ${user.username})}"><span
                    th:text="${user.username}"></span></a></td>
            <td><a th:href="@{/manager/delete/{id}(id =${user.userId})}" onclick="question()">Delete</a></td>
            <td><a th:href="@{/manager/edit_user/{id}(id = ${user.userId})}">Edit</a></td>
        </tr>

    </table>
    <div align="center">
        <a th:href="@{/manager/requests}">>requests<</a>
    </div>
</div>
</body>
</html>