<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Просмотр информации о квартире</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p th:text="'Номер квартиры: ' + ${flat.getFlatNumber()}"></p>
<p th:text="'Номер дома: '+${house.getHouseNumber()}"></p>
<p th:text="'Номер подъезда: '+${entrance.getEntranceNumber()}"></p>
<p th:text="'Этаж: '+${floor.getFloorNumber()}"></p>
<p th:text="'Количество комнат: '+ ${flat.getRoomsCount()}"></p>
<ul>
    <li th:each="u : ${flat.getRooms()}"
        th:text="'Площадь '+ ${u.getRoomNumber()}+' комнаты: ' + ${u.getRoomSquare()}"></li>
</ul>
<p th:text="'Общая площадь квартиры: '+ ${flatService.findFlatSquare(flat)}"></p>
<p th:text="'Количество жильцов: '+ ${flat.getResidentsCount()}"></p>


</body>
</html>