<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список квартир</title>
</head>
<body>
<div th:each="entrance : ${house.getEntrances()}">
    <br>
    <a th:text="'Подъезд номер ' + ${entrance.getEntranceNumber()}"></a>
    <div th:each="floor : ${entrance.getFloors()}">
        <br>
        <a th:text="'Этаж номер ' + ${floor.getFloorNumber()}"></a>
        <div th:each="flat : ${floor.getFlats()}">
            <a th:href="@{../flat/{hNumber}/{flatNumber}(hNumber = ${houseNumber}, flatNumber = ${flat.getFlatNumber()})}"
                th:text="${flat.getFlatNumber()}"></a>
        </div>
    </div>

</div>
</body>
</html>