<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Просмотр информации о доме</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Номер дома: ' + ${house.getHouseNumber()}"></p>
<p th:text="'Количество подъездов: ' + ${house.getEntrancesCount()}"></p>
<p th:text="'Количество этажей: ' + ${houseService.getFloorsCount(house)}"></p>
<p th:text="'Количество квартир на одном этаже: ' + ${houseService.getFlatsPerFloor(house)}"></p>
<p th:text="'Общее количество квартир: ' + ${houseService.getFlatsCount(house)}"></p>
<p th:text="'Количество этажей: ' + ${houseService.getFloorsCount(house)}"></p>
<p th:text="'Общая площадь дома: ' + ${houseService.findTotalHouseSquare(house)}"></p>
<p th:text="'Общее количество жильцов: ' + ${houseService.findTotalHouseResidentsCount(house)}"></p>

</body>
</html>