<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Flat info</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<h1 align="center">FLAT INFO</h1>
<table border="1" align="center">
    <tr>
        <td>House number</td>
        <td>
            <div sec:authorize="hasAnyAuthority('ADMIN', 'CONCIERGE')"><a
                    th:href="@{/houses/house/{id}(id = ${flat.houseId})}"><span
                    th:text="${flat.houseNumber}"></span></a></div>
            <div sec:authorize="hasAuthority('RESIDENT')"><a th:text="${flat.houseNumber}"></a></div>
        </td>
    </tr>
    <tr>
        <td>Entrance number</td>
        <td th:text="${flat.entranceNumber}"></td>
    </tr>
    <tr>
        <td>Floor number</td>
        <td th:text="${flat.floorNumber}"></td>
    </tr>
    <tr>
        <td>Flat number</td>
        <td th:text="${flat.flatNumber}"></td>
    </tr>
    <tr>
        <td>Rooms count</td>
        <td th:text="${flat.roomsCount}"></td>
    </tr>
    <tr>
        <td>Flat square</td>
        <td th:text="${flat.flatSquare}"></td>
    </tr>
    <tr>
        <td>Residents count</td>
        <td th:text="${flat.residents.size()}"></td>
    </tr>

</table>
<div sec:authorize="hasAnyAuthority('ADMIN', 'CONCIERGE')" th:if="${flat.residents.size() != 0}">
    <h1 align="center">RESIDENTS</h1>
    <table border="1" align="center">
        <tr>
            <td>Username</td>
            <td></td>
        </tr>
        <tr th:each="user : ${flat.residents}">
            <td><a th:href="@{/profile/{username}(username = ${user.username})}"><span
                    th:text="${user.username}"></span></a></td>
            <td><a th:href="@{/manager/flat/delete/{id}(id=${user.userId})}">Remove</a></td>
        </tr>
    </table>
</div>
</body>
</html>