<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${resident.username} + ' profile'">Profile</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<h1 ALIGN="center" th:text="${resident.username} + ' profile'">PROFILE</h1>
<table border="1" align="center">
    <tr>
        <td>Name</td>
        <td th:text="${resident.username}"></td>
    </tr>
    <tr>
        <td>Role</td>
        <td th:text="${resident.role}"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td th:text="${resident.email}"></td>
    </tr>
    <tr sec:authorize="hasAnyAuthority('ADMIN', 'CONCIERGE')" th:if="${resident.houseNumber != null}">
        <td>House number</td>
        <td><a th:href="@{/houses/house/{id}(id = ${resident.houseId})}"><span th:text="${resident.houseNumber}"></span></a>
        </td>
    </tr>
    <tr sec:authorize="hasAnyAuthority('ADMIN', 'CONCIERGE')" th:if="${resident.flatNumber != null}">
        <td>Flat number</td>
        <td><a th:href="@{/flat/{id}(id = ${resident.flatId})}"><span th:text="${resident.flatNumber}"></span></a>
    </tr>
    <tr sec:authorize="hasAuthority('RESIDENT')"
        th:if="${resident.houseNumber != null} and ${#authentication.principal.username} == ${resident.username}">
        <td>House number</td>
        <td th:text="${resident.houseNumber}"></td>
    </tr>
    <tr sec:authorize="hasAuthority('RESIDENT')"
        th:if="${resident.flatNumber != null} and ${#authentication.principal.username} == ${resident.username}">
        <td>Flat number</td>
        <td th:href="@{/flat/{id}(id = ${resident.flatId})}"><a th:text="${resident.flatNumber}"></a></td>
    </tr>


</table>
<div th:if="${#authentication.principal.username} == ${resident.username}" align="center">
    <a th:href="@{/residents/profile/update}">Update</a>
</div>
</body>
</html>