<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Requests</title>
</head>
<body>
<div th:insert = "~{fragments/menu :: #nav-menu}"></div>
<table border="1" align="center">
    <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Flat number</td>
        <td></td> <td></td>
    </tr>

<tr th:each = "resident : ${residents}">
    <td th:text = "${resident.username}">Testname</td>
    <td th:text = "${resident.email}">Testmail</td>
    <td th:text = "${resident.flatNumber}">Testmail</td>
    <td><a th:href="@{/manager/accept/{id}(id=${resident.residentId})}">Accept</a></td>
    <td><a th:href="@{/manager/delete/{id}(id=${resident.residentId})}">Delete</a></td>
</tr>
</table>
</body>
</html>