<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Residents list</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<table border="1" align="center">
    <tr>
        <td>Link</td>
        <td></td>
    </tr>
    <tr th:each="resident : ${residents}">
        <td><a th:href="@{/profile/{username}(username = ${resident.username})}"><span
                th:text="${resident.username}"></span></a></td>
        <td><a th:href="@{/manager/delete/{id}(id = ${resident.residentId})}">Delete account</a></td>
    </tr>

</table>
<br>
<div align="center">
    <a th:href="@{/requests}">Requests</a>
</div>
</body>
</html>